@model SitioWeb.Models.ListadoDeClientes
@{
    var page = @Model.NumeroPaginaActual;
    var pageNext = page + 1;
    var pageLast = page - 1;
    var total = @Model.Clientes.PageCount;
    var tope = total + 1;
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">

            <button role="link" onclick="window.location='/Cliente/Crear'" class="btn btn-primary float-right mt-2 mb-2"> Nuevo Cliente  </button>

        </div>
    </div>
   </div>
    <form action ="/Cliente/Lista" method="get">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="filtroNombreCliente"> Nombre Cliente:</label>
                    <select class="custom-select js-example-basic" type="text" name="Nombre" id="filtroNombreCliente" value="@Model.Filtro.Nombre">

                        <option value="">Sin filtro</option>

                        @foreach (DTOs.ClienteDTO cli in @Model.ClientesFiltro)
                        {
                            <option value="@cli.Nombre" selected=@(cli.Nombre.Equals(Model.Filtro.Nombre))>@cli.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="filtroNumeroCliente js-example-basic"> Numero:</label>
                    <select class="custom-select js-example-basic" type="text" name="Numero" id="filtroNumeroCliente" placeholder="Numero Cliente" value="@Model.Filtro.Numero">

                        <option value="">Sin filtro</option>

                        @foreach (DTOs.ClienteDTO cli in @Model.ClientesFiltro)
                        {
                            
                            <option value="@cli.Numero" selected=@(cli.Numero.Equals(Model.Filtro.Numero))>@cli.Numero</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check mt-3">
                    @Html.CheckBox("ExcluirEliminados", Model.Filtro.ExcluirEliminados, new { @class = "form-check-input", @id = "exampleCheck1" })
                    <label class="form-check-label" for="exampleCheck1">Excluir Eliminados</label>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <input type="submit" class="btn btn-primary" value="Filtrar">
                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
            <table class="table  table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Numero</th>
                        <th class="text-center" scope="col">Telefono</th>
                        <th class="text-center" scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (DTOs.ClienteDTO cliente in Model.Clientes)
                    {
                        <tr>
                            <th class="text-center" scope="row">@cliente.Nombre</th>
                            <td class="text-center">@cliente.Numero</td>
                            <td class="text-center">@cliente.Telefono</td>
                            <td class="text-center">
                                <a class="btn btn-primary" href="Ver/@cliente.IdCliente" role="button">Ver</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 text-center">
            <nav aria-label="Page navigation example  ">

                <ul class="pagination  justify-content-center">
                    <li class="page-item"><a class="page-link" href=@Url.Action("Lista", "Cliente", new { numeroPagina = (@pageLast==0)?1 : @pageLast, nombre = Model.Filtro.Nombre, numero = Model.Filtro.Numero, excluirEliminados = Model.Filtro.ExcluirEliminados })><i class="bi bi-chevron-left"></i>Anterior</a></li>

                    @for (int index = 1; index <= @total; index++)
                    {
                        <li class="page-item @((index == Model.NumeroPaginaActual) ? "active" : "")" role="link" onclick="window.location.href='/Cliente/Lista?numeroPagina=@index&nombre=@Model.Filtro.Nombre&numero=@Model.Filtro.Numero&excluirEliminados=@Model.Filtro.ExcluirEliminados'"><a class="page-link" href="#">@index</a></li>

                    }
                    <li class="page-item"><a class="page-link" href=@Url.Action("Lista", "Cliente", new { numeroPagina = (@pageNext == @tope)? @total : @pageNext, nombre = Model.Filtro.Nombre, numero = Model.Filtro.Numero, excluirEliminados = Model.Filtro.ExcluirEliminados })>Siguiente<i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
