@model DTOs.ClienteDTO

<div class="container">
    <div id="crear-row" class="row justify-content-center align-items-center">
        <div id="crear-column" class="col-md-10">
            <h4 class="card-title mb-4 mt-1 ">Nuevo Cliente</h4>
            @using (Html.BeginForm("Crear", "Cliente", FormMethod.Post)) 
            { 
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Numero)
                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div> <!-- form-group// -->
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Telefono)
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div> <!-- form-group// -->

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Direccion)
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Cuit)
                        @Html.EditorFor(model => model.Cuit, new { htmlAttributes = new { @class = "form-control" } })
                        <span asp-validation-for="Cuit" class="text-danger"></span>
                    </div> <!-- form-group// -->

                </div>

                <div class="form-group ">
                    <input type="submit" value="Guardar" formaction="Crear" class="btn btn-primary" />
                    <input type="submit" value="Guardar y crear otro" formaction="GuardarYCrearOtro" class="btn btn-primary" />
                    <input type="submit" value="Cancelar" formaction="CancelarCreacion" class="btn btn-secondary" />
                </div> <!-- form-group// -->
            }

        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />