@model DTOs.ClienteDTO

<div class="container">
    <div id="crear-row" class="row justify-content-center align-items-center">
        <div id="crear-column" class="col-md-10">


            <h4 class="card-title mb-4 mt-1 ">Editar Cliente</h4>
            <form>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" name="Nombre" value="@Model.Nombre">
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        <label>Numero:</label>
                        <input type="number" class="form-control" name="Numero" value="@Model.Numero">
                    </div> <!-- form-group// -->

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Telefono:</label>
                        <input type="tel" class="form-control" name="Telefono" value="@Model.Telefono">
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="Email" value="@Model.Email">
                    </div> <!-- form-group// -->

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Direccion:</label>
                        <input type="text" class="form-control" name="Direccion" value="@Model.Direccion">
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        <label>Cuit:</label>
                        <input type="text" class="form-control" name="Cuit" value="@Model.Cuit">
                    </div> <!-- form-group// -->

                </div>

                <div class="form-group ">
                    <button class="btn btn-primary">Guardar  </button>
                    <button class="btn btn-secondary ">Cancelar  </button>
                    <button type="button" class="btn btn-danger float-right " data-toggle="modal" data-target="#exampleModal">Eliminar</button>
                </div> <!-- form-group// -->

            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <span class="model-text">¿Esta seguro que desea eliminar al cliente{nombre cliente}?</span>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

            </div>
        </div>
    </div>
</div>