@model SitioWeb.Models.CrearPedidoVM
@{
}
<div class="container">

    <div id="crear-row" class="row justify-content-center align-items-center">
        <div id="crear-column" class="col-md-10">


            <h4 class="card-title mb-4 mt-1 ">Editar Pedido</h4>
            <form method="POST" action="/Pedido/Editar">
                <input type="hidden" name="view" value="Editar" />

                <input type="hidden" asp-for="@Model.pedido.IdPedido" value="@Model.pedido.IdPedido" />
                <input type="hidden" asp-for="@Model.pedido.IdClienteNavigation.Nombre" value="@Model.pedido.IdClienteNavigation.Nombre" />
                <input type="hidden" asp-for="@Model.pedido.IdEstadoNavigation.Descripcion" value="@Model.pedido.IdEstadoNavigation.Descripcion" />

                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="exampleFormControlSelect1">Cliente:</label>
                        @Model.pedido.IdClienteNavigation.Nombre

                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlSelect1">
                            Ultima Modificacion:
                        </label>
                        @if (Model.pedido.FechaModificacion != null)
                        {
                            <span>
                                @Model.pedido.FechaModificacion (@Model.pedido.ModificadoPorNavigation.Nombre, @Model.pedido.ModificadoPorNavigation.Apellido)
                            </span>
                        }
                        else
                        {
                            <span>
                                Sin Modificaciones
                            </span>
                        }

                    </div> <!-- form-group// -->
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="exampleFormControlSelect1">Estado:</label>
                        @Model.pedido.IdEstadoNavigation.Descripcion

                    </div> <!-- form-group// -->

                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="exampleFormControlSelect1">Descripcion o codigo:</label>
                        <select name="articuloId" class="custom-select" id="exampleFormControlSelect1">
                            @foreach (DTOs.ArticuloDTO a in @Model.Articulos)
                            {
                                <option value="@a.Id"> @a.Descripcion</option>
                            }
                        </select>
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-5">
                        <label>Cantidad:</label>
                        <input name="cantidad" type="number" value="0" class="form-control" placeholder="2">
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-2 ">
                        <input type="submit" value="Agregar" formaction="/Pedido/AgregarArticulo" id="btn-agregar" class="btn btn-primary" />


                    </div> <!-- form-group// -->
                </div>

                <div class="form-row">

                    @if (@Model.pedido.PedidoArticulos.Count() > 0)
                    {
                        <div class="col-md-12 text-center">

                            <table class="table  table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center" scope="col">Descripcion</th>
                                        <th class="text-center" scope="col">Codigo</th>
                                        <th class="text-center" scope="col">Cantidad </th>
                                        <th class="text-center" scope="col">Ver</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (DTOs.PedidoArticuloDTO art in @Model.pedido.PedidoArticulos)
                                    {
                                        <tr>
                                            <th class="text-center" scope="row">@art.articulo.Descripcion</th>
                                            <td class="text-center">@art.articulo.Codigo</td>
                                            <td class="text-center">@art.cantidad</td>
                                            <td class="text-center"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarId-@art.Id">Eliminar</button> </td>
                                            @*<button role="link" onclick="window.location = '/Articulo/Eliminar/@art.Id'" class="btn btn-danger">Eliminar</button>*@

                                            <!-- Button to Open the Modal -->
                                            <!-- The Modal -->
                                            <div class="modal fade" id="eliminarId-@art.Id">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Eliminar?</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            Está seguro que desea eliminar el articulo @art.articulo.Codigo - @art.articulo.Descripcion del pedido?
                                                        </div>

                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">

                                                            <input type="hidden" name="idEliminar" value="@art.Id" />
                                                            <input type="hidden" name="idPedido" value="@Model.pedido.IdPedido" />

                                                            <input type="submit" value="Eliminar " formaction="/Pedido/EliminarArticulo" class="btn btn-danger" />


                                                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                                                        </div>

                                                    </div>
                                                </div>


                                        </tr>
                                    }




                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12 text-center">

                            <div class="alert alert-warning text-center role="alert">
                                Este pedido aun no tiene articulos c@model CrearPedidoVM

                                @{

                                }
                                <div class="container">
                                    <div id="crear-row" class="row justify-content-center align-items-center">
                                        <div id="crear-column" class="col-md-10">


                                            <h4 class="card-title mb-4 mt-1 ">Nuevo Pedido</h4>
                                            <form method="POST" action="/Pedido/Crear">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="exampleFormControlSelect1">Cliente:</label>
                                                        <select class="custom-select" asp-for="pedido.idCliente" value="@Model.pedido.idCliente">
                                                            @foreach (DTOs.ClienteDTO cli in @Model.Clientes)
                                                            {
                                                                <option value="@cli.IdCliente"> @cli.Nombre</option>
                                                            }
                                                        </select>
                                                        <span class="text-danger" asp-validation-for="pedido.idCliente"></span>
                                                    </div> <!-- form-group// -->
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="exampleFormControlSelect1">Descripcion o codigo:</label>
                                                        <select name="articuloId" class="custom-select" id="exampleFormControlSelect1">
                                                            @foreach (DTOs.ArticuloDTO a in @Model.Articulos)
                                                            {
                                                                <option value="@a.Id"> @a.Descripcion</option>
                                                            }
                                                        </select>
                                                    </div> <!-- form-group// -->
                                                    <div class="form-group col-md-4">
                                                        <label>Cantidad:</label>
                                                        <input name="cantidad" type="number" value="0" class="form-control" placeholder="2">
                                                    </div> <!-- form-group// -->
                                                    <div class="form-group col-md-4 ">
                                                        <input type="submit" value="Agregar" formaction="AgregarArticulo" id="btn-agregar" class="btn btn-primary" />


                                                    </div> <!-- form-group// -->
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-12 text-center">
                                                        <label>Articulos cargados en el pedido</label>
                                                    </div>
                                                </div>
                                                <div class="form-row">

                                                    @if (@Model.pedido.PedidoArticulos.Count() > 0)
                                                    {
                                                        <div class="col-md-12 text-center">

                                                            <table class="table  table-bordered">
                                                                <thead class="thead-light">
                                                                    <tr>
                                                                        <th class="text-center" scope="col">Descripcion</th>
                                                                        <th class="text-center" scope="col">Codigo</th>
                                                                        <th class="text-center" scope="col">Cantidad </th>
                                                                        <th class="text-center" scope="col">Ver</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @foreach (DTOs.PedidoArticuloDTO art in @Model.pedido.PedidoArticulos)
                                                                    {
                                                                        <tr>
                                                                            <th class="text-center" scope="row">@art.articulo.Descripcion</th>
                                                                            <td class="text-center">@art.articulo.Codigo</td>
                                                                            <td class="text-center">@art.cantidad</td>
                                                                            <td class="text-center"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarId-@art.Id">Eliminar</button> </td>
                                                                            @*<button role="link" onclick="window.location = '/Articulo/Eliminar/@art.Id'" class="btn btn-danger">Eliminar</button>*@

                                                                            <!-- Button to Open the Modal -->
                                                                            <!-- The Modal -->
                                                                            <div class="modal fade" id="eliminarId-@art.Id">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">

                                                                                        <!-- Modal Header -->
                                                                                        <div class="modal-header">
                                                                                            <h4 class="modal-title">Eliminar?</h4>
                                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                        </div>

                                                                                        <!-- Modal body -->
                                                                                        <div class="modal-body">
                                                                                            Está seguro que desea eliminar el articulo @art.articulo.Codigo @art.articulo.Descripcion del pedido?
                                                                                        </div>

                                                                                        <!-- Modal footer -->
                                                                                        <div class="modal-footer">
                                                                                            <input type="hidden" name="idEliminar" value="@art.Id" />

                                                                                            <input type="submit" value="Eliminar" formaction="EliminarArticulo" class="btn btn-danger" />


                                                                                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </tr>
                                                                    }




                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-12 text-center">

                                                            <div class="alert alert-warning text-center role="alert">
                                                                Este pedido aun no tiene articulos cargados
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Comentario:</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="pedido.Comentarios" value="@Model.pedido.Comentarios" rows="3"></textarea>
                                                    <span class="text-danger" asp-validation-for="pedido.Comentarios"></span>
                                                </div>




                                                <div class="form-group ">
                                                    <input type="submit" value="Guardar" formaction="Editar" class="btn btn-primary" />
                                                    @Html.ActionLink("Cancelar", "Lista", "Pedido", null, new { @class = "btn btn-secondary text-white" })

                                                </div> <!-- form-group// -->

                                            </form>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    }
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comentario:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="pedido.Comentarios" value="@Model.pedido.Comentarios" rows="3">
                         @Model.pedido.Comentarios
                    </textarea>
                    <span class="text-danger" asp-validation-for="pedido.Comentarios"></span>
                </div>

                <div class="form-group ">
              
                    <input type="submit" value="Guardar" formaction="/Pedido/Editar" class="btn btn-primary" />
                    <input type="submit" value="Cancelar" formaction="/Pedido/Cancelar" class="btn btn-secondary" />
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cerrarPedidoPedido-@Model.pedido.IdPedido">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EntregadoPedido-@Model.pedido.IdPedido">Entregado</button>

                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarIdPedido-@Model.pedido.IdPedido">Eliminar</button>

                </div> <!-- form-group// -->

            </form>
            <div class="modal fade" id="EntregadoPedido-@Model.pedido.IdPedido">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Entregado?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Está seguro que desea cambiar el estado del pedido @Model.pedido.IdClienteNavigation.Nombre - @Model.pedido.NroPedido a Entregado  ?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">

                            <button role="link" onclick="window.location = '/Pedido/Entregado/@Model.pedido.IdPedido'" class="btn btn-danger">Si</button>

                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="cerrarPedidoPedido-@Model.pedido.IdPedido">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Cerrar?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Está seguro que desea cerrar el pedido @Model.pedido.IdClienteNavigation.Nombre - @Model.pedido.NroPedido  ?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">

                            <button role="link" onclick="window.location = '/Pedido/Cerrar/@Model.pedido.IdPedido'" class="btn btn-danger">Si</button>

                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="eliminarIdPedido-@Model.pedido.IdPedido">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Está seguro que desea eliminar el EL pedido @Model.pedido.IdClienteNavigation.Nombre - @Model.pedido.NroPedido  ?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">

                            <button role="link" onclick="window.location = '/Pedido/Eliminar/@Model.pedido.IdPedido'" class="btn btn-danger">ELIMINAR</button>

                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

