@model DTOs.UsuarioDTO

<div class="container">
    <div id="crear-row" class="row justify-content-center align-items-center">
        <div id="crear-column" class="col-md-10">


            <h4 class="card-title mb-4 mt-1 ">Editar Usuario</h4>
            @using (Html.BeginForm("Editar", "Usuario", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.IdUsuario)
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email:</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        <label>Password:</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                    </div> <!-- form-group// -->

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Nombre:</label>
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        <label>Apellido:</label>
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                    </div> <!-- form-group// -->

                </div>

                <div class="form-row">

                    @{
                        var listado = new List<SelectListItem>() {
                        new SelectListItem()
                        {
                            Text = "Admin",
                            Value= "true",
                        },
                          new SelectListItem()
                        {
                            Text = "Estandar",
                            Value= "false",
                        }
                        };
                    }
                    <div class="form-group col-md-6">
                        <label>Rol:</label>
                        @Html.DropDownListFor(model => model.EsAdmin, listado, new { @class = "custom-select" })
                    </div>

                    <div class="form-group col-md-6">
                        <label>Fecha Nacimiento:</label>
                        @Html.EditorFor(model => model.FechaNacimiento, new { @type = "date", htmlAttributes = new { @class = "form-control" } })
                    </div> <!-- form-group// -->
                </div>
                <div class="form-group ">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Cancelar", "Lista", "Usuario", null, new { @class = "btn btn-secondary text-white" })
                    @if (Model.EstaEliminado == false)
                    {
                       <button type="button" class="btn btn-danger float-right " data-toggle="modal" data-target="#exampleModal">Eliminar</button>
                    }
                </div> <!-- form-group// -->
            }
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                
                    <span class="modal-text">¿Esta seguro que desea eliminar al usuario @Model.Nombre?</span>
                </div>
            <div class="modal-footer text-center">
                @using (Html.BeginForm("Eliminar", "Usuario", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.IdUsuario)
                    <input type="submit" value="SI" class="btn btn-primary">
                }

                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

            </div>
        </div>
    </div>
</div>
