@model SitioWeb.Models.ListadoDeUsuarios
@{
    var page = @Model.NumeroPaginaActual;
    var pageNext = page + 1;
    var pageLast = page - 1;
    var total = @Model.Usuarios.PageCount;
    var tope = total + 1;
}            

<div class="container">

    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">


            <button role="link" onclick="window.location='/Usuario/Crear'" class="btn btn-primary float-right mt-2 mb-2"> Nuevo Usuario </button>

        </div>
    </div>
    </div>
    <form action="/Usuario/Lista" method="get">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Nombre Usuario:</label>
                <select class="custom-select js-example-basic" type="text" name="Nombre" id="filtroNombreUsuario" value="@Model.Filtro.Nombre">

                    <option value="">Sin filtro</option>

                    @foreach (DTOs.UsuarioDTO usu in @Model.UsuariosFiltro)
                    {
                        <option value="@usu.Nombre" selected=@(usu.Nombre.Equals(Model.Filtro.Nombre))>@usu.Nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="filtroEmailCliente js-example-basic"> Email:</label>
                <select class="custom-select js-example-basic" type="text" name="Email" id="filtroEmailCliente" placeholder="Email Usuario" value="@Model.Filtro.Email">

                    <option value="">Sin filtro</option>

                    @foreach (DTOs.UsuarioDTO usu in @Model.UsuariosFiltro)
                    {

                        <option value="@usu.Email" selected=@(usu.Email.Equals(Model.Filtro.Email))>@usu.Email</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">

            <div class="form-check mt-3">
                @Html.CheckBox("ExcluirEliminados", Model.Filtro.ExcluirEliminados, new { @class = "form-check-input", @id = "exampleCheck1" })
                <label class="form-check-label" for="exampleCheck1">Excluir Eliminados</label>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <input type="submit" class="btn btn-primary" value="Filtrar">
            </div>
        </div>

    </div>
    </form>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
            <table class="table  table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Numero</th>
                        <th class="text-center" scope="col">Telefono</th>
                        <th class="text-center" scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (DTOs.UsuarioDTO usuario in Model.Usuarios)
                    {
                        <tr>
                            <th class="text-center" scope="row">@usuario.Nombre</th>
                            <td class="text-center">@usuario.Email</td>
                            <td class="text-center">---</td>
                            @*  <td class="text-center"><button role="link" onclick="window.location='/Usuario/Editar-@usuario.IdUsuario'" type="button" class="btn btn-info">Ver</button></td>*@
                            <td class="text-center">
                                <a class="btn btn-primary" href="Ver/@usuario.IdUsuario" role="button">Ver</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 text-center">
            <nav aria-label="Page navigation example  ">

                <ul class="pagination  justify-content-center">
                    <li class="page-item"><a class="page-link" href=@Url.Action("Lista", "Usuario", new { numeroPagina = (@pageLast==0)?1 : @pageLast, nombre = Model.Filtro.Nombre, numero = Model.Filtro.Email, excluirEliminados = Model.Filtro.ExcluirEliminados })><i class="bi bi-chevron-left"></i>Anterior</a></li>

                    @for (int index = 1; index <= @total; index++)
                    {
                        <li class="page-item @((index == Model.NumeroPaginaActual) ? "active" : "")" role="link" onclick="window.location.href = '/Cliente/Lista?numeroPagina=@index&nombre=@Model.Filtro.Nombre&numero=@Model.Filtro.Email&excluirEliminados=@Model.Filtro.ExcluirEliminados'"><a class="page-link" href="#">@index</a></li>

                    }
                    <li class="page-item"><a class="page-link" href=@Url.Action("Lista", "Usuario", new { numeroPagina = (@pageNext == @tope)? @total : @pageNext, nombre = Model.Filtro.Nombre, numero = Model.Filtro.Email, excluirEliminados = Model.Filtro.ExcluirEliminados })>Siguiente<i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
